/** Variables */


:root {
     --textColor: #1d1d1f;
     --textColor-light: #86868b;
     --colorEnlaces-primario: #06c;
     --colorEnlaces-secundario: #f5f5f7;
     --colorBackground: #fafafa;
     --colorBackground-nav: rgba(0, 0, 0, 0.8);
}



/*? Estilos Generales */


* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

body {
     background: var(--colorBackground);
}

html {
     scroll-behavior: smooth;
}

a {
     text-decoration: none;
}

h1, h2, h3 {
     line-height: 1.2;
     font-weight: 600;
     color: var(--textColor);
     text-align: center;
}

h1 {
     font-size: 48px;
     margin-top: 10px;
}

h2 {
     font-size: 24px;
}

h3 {
     font-size: 21px;
     font-weight: 400;
     color: var(--textColor-light);
     margin-top: .5em;
}

img {
     width: 100%;
}

section {
     position: relative;
     width: 100%;
     height: 100vh;
}

.text-container {
     flex-direction: column;
}

/*? Estilos Grid General */


.grid {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     gap: 20px;
     height: 100%;
}

.grid div {
     display: flex;
     justify-content: center;
     align-items: center;
}

.span5 {
     grid-column: span 5;
}
.span6 {
     grid-column: span 6;
}
.span7 {
     grid-column: span 7;
}
.span9 {
     grid-column: span 9;
}
.span12 {
     grid-column: span 12;
}


/** MENU DE NAVEGACION */

nav {
     height: 44px;
     width: 100%;
     background: var(--colorBackground-nav);
     position: fixed;
     top: 0;
     left: 0;
     z-index: 3;
}

nav .enlaces {
     position: relative;
     height: 100%;
     padding: 0 22px;
     margin: 0 auto;
     max-width: 980px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav .enlaces img {
     width: 16px;
}

nav .enlaces a {
     color: var(--colorEnlaces-secundario);
     font-size: 14px;
     padding: 0 10px;
     opacity: .8;
     cursor: pointer;
     transition: all .3s;
}

nav .enlaces a:hover {
     opacity: 1;
}


/** HEADER */


header {
     height: calc(100vh - 44px);
     width: 100%;
     margin: 44px 0 0 0;
     background: #f2f2f2;
}

header .text-container {
     padding: 30px 0 0 0;
     justify-content: flex-end !important;
}

header img {
     width: 85%;
}

header .img-container {
     align-items: flex-end;
}

