/** Variables */


:root {
     --textColor: #1d1d1f;
     --textColor-light: #86868b;
     --colorEnlaces-primario: #06c;
     --colorEnlaces-secundario: #f5f5f7;
     --colorBackground: #fafafa;
     --colorBackground-nav: rgba(0, 0, 0, 0.8);
}


/*? ScrollBar */


body::-webkit-scrollbar {
     width: 8px;
}

body::-webkit-scrollbar-thumb {
     background: var(--textColor);
}



/*? Estilos Generales */


* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

body {
     background: var(--colorBackground);
}

html {
     scroll-behavior: smooth;
}

a {
     text-decoration: none;
}

h1, h2, h3 {
     line-height: 1.2;
     font-weight: 600;
     color: var(--textColor);
     text-align: center;
}

h1 {
     font-size: 48px;
     margin-top: 10px;
}

h2 {
     font-size: 24px;
}

h3 {
     font-size: 21px;
     font-weight: 400;
     color: var(--textColor-light);
     margin-top: .5em;
}

img {
     width: 100%;
}

section {
     position: relative;
     width: 100%;
     height: 100vh;
}

.text-container {
     flex-direction: column;
}

.enlace-info {
     margin-top: 30px;
     font-size: 21px;
     color: var(--colorEnlaces-primario);
     transition: all .5s;
}

.enlace-info:hover {
     text-decoration: underline;
}

/*? Estilos Grid General */


.grid {
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     gap: 20px;
     height: 100%;
}

.grid div {
     display: flex;
     justify-content: center;
     align-items: center;
}

.span5 {
     grid-column: span 5;
}
.span6 {
     grid-column: span 6;
}
.span7 {
     grid-column: span 7;
}
.span9 {
     grid-column: span 9;
}
.span12 {
     grid-column: span 12;
}


/** MENU DE NAVEGACION */

nav {
     height: 44px;
     width: 100%;
     background: var(--colorBackground-nav);
     position: fixed;
     top: 0;
     left: 0;
     z-index: 3;
}

nav .enlaces {
     position: relative;
     height: 100%;
     padding: 0 22px;
     margin: 0 auto;
     max-width: 980px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

nav .enlaces img {
     width: 16px;
}

nav .enlaces a {
     color: var(--colorEnlaces-secundario);
     font-size: 14px;
     padding: 0 10px;
     opacity: .8;
     cursor: pointer;
     transition: all .3s;
}

nav .enlaces a:hover {
     opacity: 1;
}


/** HEADER */


header {
     height: calc(100vh - 44px);
     width: 100%;
     margin: 44px 0 0 0;
     background: #f2f2f2;
}

header .text-container {
     padding: 30px 0 0 0;
     justify-content: flex-end !important;
}

header img {
     width: 85%;
}

header .img-container {
     align-items: flex-end;
}


/** SERVICIOS  */


.service {
     background: url(/img/image2.jpg);
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
}

.service::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.95);
}

.service .grid {
     width: 85%;
     margin: 0 auto;
}

.service .contenedor {
     flex-direction: column;
     z-index: 1;
}

.service .contenedor img {
     width: 250px;
     height: 250px;
     object-fit: cover;
     margin: 25px 0;
}

.service .text-container{
     width: 60%;
     text-align: center;
}

.service .text-container h2 {
     color: #fff;
     font-size: 28px;
     font-weight: 400;
}


/*? Productos */

/** Ipad */


.ipad {
     background: #fff;
}

.ipad .text-container {
     grid-column: 2 / 4;
     align-items: flex-start;
}

.ipad img {
     height: 85%;
     object-fit: cover;
     object-position: left;
}


/** Watch  */


.watch {
     padding: 30px 50px 0 50px;
}

.watch .text-container img {
     width: 100px;
}


/** AirPods */


/* .airpods {
     height: auto; 
} */


/**  MUSIC */


.musictv {
     padding: 30px;
}

.musictv .text-container {
     background: #000;
}

.musictv .text {
     height: 50%;
     width: 50%;
     padding: 60px 0 0 0;
     text-align: center;
     flex-direction: column;
}

.musictv .imagen {
     height: 100%;
     align-items: flex-end;
}

.musictv .text-container .icon {
     width: 100px;
     height: 40px;
}


.musictv .text-container h3 {
     color: #fff;
}

.musictv .text-container .enlace-info {
     margin: 10px 0 30px 0;
}

.musictv .ct2 {
     background-color: #fff;
}

.musictv .ct2 .icon {
     width: 150px;    
}

.musictv .ct2 h3 {
     color: var(--textColor);
}


/** iMac */


.imac {
     background: #fff;
     padding: 50px 0;
}

.imac h1 {
     font-size: 56px;
}

.imac h2 {
     font-size: 28px;
     font-weight: 400;
}

.imac h3 {
     color: var(--textColor-light);
     letter-spacing: 0.5px;
     font-size: 18px;
}

.imac img {
     width: 50%;
}


/** FOOTER */


footer {
     height: 44px;
     background: var(--colorBackground-nav);
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

footer img {
     width: 16px;
     transition: all .5s;
     opacity: .2;
}

footer img:hover {
     opacity: 1;
}



